<header class="masthead" role="banner">
    <div class="masthead-contain">
        <div class="masthead-logo">
            <a href="{{ site.baseurl }}" class="masthead-logo-name" title="Jason Kinney">Jason Kinney</a>
            <span class="masthead-logo-title">Front-End Developer &amp; <span id="phrase"></span></span>
        </div>

        <a class="mobile" href="#"></a>
        <nav class="masthead-nav">
            <ul>
                <li><a href="{{ site.baseurl }}">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
