input[type=text],
input[type=email] {
	width: 100%;
	padding: 6px;
	border-radius: 2px;
	border: 1px solid lighten($brand_secondary, 30%);
	font-size: 14px;
	@include transition(all 0.15s);
}

input[type=text]:hover,
input[type=email]:hover,
input[type=email]:focus,
input[type=text]:focus {
	border: 1px solid $brand_secondary;
}

#searchsubmit {
	display: block;
	width: 100%;
	text-align: center;
	border-radius: 2px;
	@include transition(all 0.15s);
	padding: 6px 10px;
	background: $brand;
	font-size: 14px;
	color: #ffffff;
	border: none;
	box-shadow: 0 3px 0 darken($brand, 10%);
}


#searchsubmit:hover {
	cursor: pointer;
	text-decoration: none;
	background: darken($brand, 5%);
}

#searchsubmit:active,
#searchsubmit:focus {
	position: relative;
	top: 2px;
	box-shadow: 0 1px 0 darken($brand, 10%);
}