.hero {
    margin: 10% 0 13% 0;
    overflow: hidden;
    width: 60%;
    color: #ffffff;

    @include breakpoint(one) {
        margin: 0;
    }

    @include breakpoint(two) {
        width: 100%;
        text-align: center;
    }
}

.hero-hd-greeting {
    font-size: 70px;
    font-weight: 700;

    @include breakpoint(two) {
        font-size: 40px;
    }
}

.hero-hd-subGreeting {
    padding-left: 10px;
    font-size: 27px;
    font-weight: 500;
    background: #000000;

    @include breakpoint(two) {
        margin-top:10px;
        font-size: 20px;
    }
}

.hero-bd {
    margin-top: 15px;
    font-size: 19px;
    text-shadow: 0 0 15px rgba(0,0,0,1);
}

.hero-ft {
    padding-bottom: 5px;
}