.post { 
	overflow: hidden;
	margin-bottom: 25px;
}

.post-hd {
	margin-bottom: 10px;
}

.post-hd h3 {
	padding: 0 10px;
}

.post-hd-cat {
	margin-bottom: 10px;
	padding: 2px 10px;
	background: $brand_secondary;
	border-radius: 2px;
	font-size: 13px;
}

.post-hd-cat a { 
	color: #ffffff;
	@include transition(all 0.15s);

	&:hover {
		color: $brand;
		text-decoration: none;
	}
}

.post-hd-meta {
	font-size: 14px;
}

.post-bd {
	padding: 10px 0;
}