.btn {
	display: inline-block;
	border-radius: 2px;
	@include transition(all 0.15s);
}

.btn:hover {
	text-decoration: none;
}

.btn_primary {
	padding: 12px 22px;
	background: $brand;
	color: #ffffff;
	box-shadow: 0 3px 0 darken($brand, 10%);
}

.btn_primary:hover {
	background: darken($brand, 5%);
}

.btn_primary:active,
.btn_primary:focus {
	position: relative;
	top: 2px;
	box-shadow: 0 1px 0 darken($brand, 10%);
}

.btn_green {
	background: #2caf5d;
	box-shadow: 0 3px 0 darken(#2caf5d, 10%);
}

.btn_green:hover {
	background: darken(#2caf5d, 5%);
}

.btn_sm {
	padding: 6px 10px;
}

// Read More for Wordpress
.more-link {
	margin-top: 25px;
	display: table;
	border-radius: 2px;
	@include transition(all 0.15s);
	padding: 6px 10px;
	background: $brand;
	font-size: 14px;
	color: #ffffff;
	box-shadow: 0 3px 0 darken($brand, 10%);
}

.more-link:hover {
	text-decoration: none;
	background: darken($brand, 5%);
}

.more-link:active,
.more-link:focus {
	position: relative;
	top: 2px;
	box-shadow: 0 1px 0 darken($brand, 10%);
}